html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

html, body {
	min-height: 100vh;
	line-height: 1.25;
	font-family: Coda, 'Helvetica Neue', sans-serif;
}

.wrapper {
	max-width: 1152px;
	width: 100%;
	margin: 0 auto;
}

button {
	border: 0;
}

a {
	text-decoration: none;
}